.clickable {
    cursor: pointer !important;
}

.container {
    background-image: url(../images/unsplash.gif);
    background-size: contain;
    /* height: 100vh; */
    min-height: 100vh;
}

.current {
    border: 2px solid black;
    cursor: pointer !important;
}